body {
  display: flex;
  flex-direction: column;

  font-family: $font-text;
  font-style: normal;

  background-color: $color-background;
  color: $color-primary-text;

  &.show-modal,
  &.show-modal-form {
    overflow: hidden;
  }
}
