<div class="backdrop-form">
  <div class="modal">
    <div id="modal__form" class="modal__form">
      <form class="form" autocomplete="off" role="group" aria-labelledby="note form">
        <div class="form__header-wrapper">
          <div class="form__radio-wrapper">
            <p class="form__category">Category</p>
            <label class="form__radio-label">
              <input class="form__radio-input" type="radio" name="category" value="Task" required />
              Task
            </label>
            <label class="form__radio-label">
              <input class="form__radio-input" type="radio" name="category" value="Idea" required />
              Idea
            </label>
            <label class="form__radio-label">
              <input class="form__radio-input" type="radio" name="category" value="Random Thought" required />
              Random Thought</label
            >
          </div>
          <div class="form__name-deadline-wrapper">
            <label class="form__label">
              Note name
              <input class="form__input-name" type="text" required />
            </label>
            <label class="form__label">
              Deadline
              <input class="form__input-date" type="date" />
            </label>
          </div>
        </div>
        <label class="form__label">
          Note description
          <textarea class="form__textarea" name="note description" rows="3" required></textarea>
        </label>
        <button class="modal__form-submit js-create" type="submit" data-noteid="">Create Note</button>
        <button class="modal__form-submit js-edit" type="submit" data-noteid="">Edit Note</button>
      </form>
    </div>
    <button class="modal__close" type="button">
      <svg class="modal__svg" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
