.button__edit-note,
.button__archive-note,
.button__delete-note,
.button__unarchive-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  fill: $color-gray;
  transition: fill $timing-function, background-color $timing-function;

  &:hover,
  &:focus {
    fill: $color-accent;
    background-color: $color-gray;
  }

  cursor: pointer;
}

.button__create-note,
.modal__form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 150px;
  height: 40px;
  padding: 0;
  margin-top: 20px;
  border: 1px solid $color-gray;
  border-radius: 10px;
  color: $color-gray;
  background-color: transparent;
  transition: color $timing-function, background-color $timing-function;

  &:hover,
  &:focus {
    color: $color-background;
    background-color: $color-gray;
  }

  cursor: pointer;
}

.modal__close,
.modal__close-form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  background: $color-background;
  cursor: pointer;
}
