.note {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.note__head-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  padding-left: 10px;
  background-color: $color-accent;
  border-radius: 5px;
}

.note__title-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.note__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  width: 50%;
}

.note__block-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;

  background-color: $color-accent;
}

.note__button-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}

.note__category-wrapper {
  display: flex;
  padding: 5px;
  gap: 10px;
  align-items: center;
  width: 200px;
}

.note__category {
  font-size: 20px;
  padding: 5px 10px;
  width: 100px;
}

.note__title {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
}

.note__create {
  font-size: 12px;
  font-style: italic;
  padding: 0 10px;
}

.note__content {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 16px;

  padding: 20px 0;
}

.note__date,
.note__status {
  display: flex;
  font-size: 14px;
  font-style: italic;
  padding: 5px 0;
}

.note__category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: $color-gray;
  border-radius: 50%;
}
